/* ==========================================================================
 * creditos
 * ========================================================================== */

.e-creditos {
	padding: 1em 0 1em;
	border-top: .2vh solid #8d8d8d;
	color: #8d8d8d;
	}

.e-creditos > a {
	color: inherit;
	text-decoration:underline !important;
	}


/* Transiciones */
.e-creditos > a:hover {
	color: #fff;
	}