/* ==========================================================================
 * areaConversion
 * ========================================================================== */

.m-areaConversion {
	display: flex; flex-direction: column; align-self: center;
	margin: 1em; padding: 1em;
	width: 90%;
	border: 0; border-radius: .5em;
	background: #1d1d1d;
	}

.m-areaConversion__caja {
	display: flex; justify-content: center; align-items: center;
	}

.e-areaConversion__boton {
	padding: .5em 1em; margin: .8em;
	width: 8em;
	border: .2vh solid #05c46b;
	font-weight: 600; color: #05c46b;
	background-color: transparent;
	}

.e-areaConversion__input {
	padding: .5em; margin: .5em 0;
	width: 65%;
	border: 0; border-bottom: .2vh solid #fff;
	color: #fff;
	background-color: transparent;
	}

.e-areaConversion__input:focus {
	border-bottom: .2vh solid #05c46b;
	outline:none;
	}


/* Transiciones */
.e-areaConversion__boton:hover {
	color: #1d1d1d;
	background-color: #05c46b;
	}



/* Media portait
   ========================================================================== */

@media (orientation: portrait) {
.m-areaConversion {
	width: 95%;
	}
}