/* ==========================================================================
 * Cuerpo
 * ========================================================================== */

.b-cuerpo {
	display: flex;	height: 100vh;
	}

.b-cuerpo__contenido {
	flex-basis: 50%;
	overflow-y: auto;
	}

/* Media portait
   ========================================================================== */

@media (orientation: portrait) {
.b-cuerpo {
	display: block;
	min-height: 100vh;
	}
}
