/* ==========================================================================
 * lienzoColorido
 * ========================================================================== */

.b-lienzoColorido {
	display: flex; flex-direction: column; flex-basis: 50%; order: 1;
  }

/* Media portait
   ========================================================================== */

@media (orientation: portrait) {
.b-lienzoColorido {
	display: block;
	}
}
