/* ==========================================================================
 * lienzoColor
 * ========================================================================== */

.m-lienzoColor {
	display: flex; flex-grow: 1;
	position: relative;
	}

.e-lienzoColor__cuadro {
	flex-grow: 1;
	width: 100%;
	background-color: #000;
	}

.e-lienzoColor__titulo {
	position: absolute; top: 40%; z-index: 1;
	font-weight: 600; font-size: 2em; color: #fff;
	text-shadow: 1px 1px 6px #000;
	}


/* Utilidades */
.u--posicion-A {
	left: 28.5%;
	}

.u--posicion-B {
	left: 36%;
	}



/* Media portait
   ========================================================================== */

@media (orientation: portrait) {
.m-lienzoColor {
	justify-content: center;
	}

.e-lienzoColor__cuadro {
	height: 12em;
	}

.e-lienzoColor__titulo {
	font-weight: 400; font-size: 2.8em;
	}


/* Utilidades */
.u--posicion-A,
.u--posicion-B {
	left:auto;
	}
}