/* ==========================================================================
 * Index: LienzoColores
 * ========================================================================== */

/* Estilos
   ========================================================================== */
.container-LienzoColores {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	order: 1;
}
