/* ==========================================================================
 * Index: LienzoColores
 * ========================================================================== */

/* Estilos
   ========================================================================== */
.frame-LienzoColor {
	flex-basis: 50%;
	position: relative;
}

.frame-LienzoColor__cuadro {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #000;
}

p[class^="frame-LienzoColor__titulo"] {
	position: absolute;
	top: 40%;
	z-index: 1;
	font-weight: 600;
	font-size: 2em;

	text-shadow:1px 1px 6px #000;
	color: #fff;

}

.frame-LienzoColor__titulo-1 {
	left: 28.5%;
}

.frame-LienzoColor__titulo-2 {
	left: 36%;
}
