/* ==========================================================================
 * Index: SocialPrincipal
 * ========================================================================== */

/* Estilo
   ========================================================================== */
.nav-SocialPrincipal {
	display: flex;
	align-items: center;
	margin-bottom: .5em;
}
