/* ==========================================================================
 * Index: Reglas
 * ========================================================================== */

/* Genericas
   ========================================================================== */
a:link, a:visited {
	text-decoration: none;
}

img:not([alt]) {
	border: .2vh solid red !important;
}