/* ==========================================================================
 * Index: Creditos
 * ========================================================================== */

/* Estilo
   ========================================================================== */
.text-Creditos__autor1 {
	width: 40%;
}

.text-Creditos__autor2 {
	padding: 1em 0 1em;
	border-top: .2vh solid #8d8d8d;
	color: #8d8d8d;
}

.text-Creditos__autor2 > a {
	text-decoration:underline !important;
	color: inherit;
}
